.hero {
  padding-top: 8rem;
  row-gap: 4rem;
  display: flex;
}

.animated-scroll-line {
  width: 1px;
  height: 100px;
  background-color: var(--text-color);
  transform-origin: top;
  transform: scaleY(0%);
  will-change: transform;
}


.h1 {
  font-size: calc(43px + (100 - 43) * ((100vw - 320px) / (1440 - 320)));
  position: relative;
}

.char {
  transform: translateY(0);
  display: inline-block;
  will-change: transform, opacity;
}


@media screen and (min-width: 960px) {
  .hero {
    padding-top: 8rem;
    row-gap: 8rem;
  }
}


@media screen and (min-width: 1441px) {
  .h1 {
    font-size: 100px;
  }
}