.open {
  max-height: 0; /* Cache le contenu */
  opacity: 0; /* Rend le contenu invisible */
  padding: 0; /* Réduit le padding */
  margin: 0; /* Réduit la marge */
  overflow: hidden; /* Assure que le contenu débordant est caché */
  /* transition: max-height 0.8s ease, opacity 0.8s ease, padding 0.8s ease,
    margin 0.8s ease; */
}

.open[data-index] {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.jic {
  justify-items: center;
}

@media screen and (max-width: 540px) {
  .sm-dn {
    display: none;
  }
}

.w-100 {
  width: 100%;
}
