@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --white: #F9FAFB;
  --black: #01010A;
  --ad-green: #83B47E;
  --ux-ui-blue: #8FB1BD;
  --adobe-purple: #C59FC6;
  --dev-orange: #C8A489;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #01010a;
  background-color: #f9fafb;
  overflow-x: hidden;
}

.container,
header,
footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* ************************************HEADER*********************************************** */

header {
  position: fixed;
  top: 16px;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  z-index: 100;
}


header .logo {
  height: 40px;
}

header nav {
  display: none;
}

header span {
  width: fit-content;
  justify-self: end;
  color: var(--white);
}

/* ************************************HERO*********************************************** */
.hero {
  margin-top: 26.5vh;
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 1fr;
}

h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 26.5vh;
  grid-column: 1/3;
}

h1 span {
  font-size: 16px;
}

.name {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 64px;
}

.hero .arrow {
  justify-self: end;
  align-self: end;
  margin-bottom: 64px;
}

.me {
  width: 280px;
}

/* ************************************ABOUT*********************************************** */
.about h2 {
  white-space: nowrap;
  font-size: 35px;
}

.about .stroke-head {
  position: relative;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--black);
}

.about .stroke-head::after {
  content: "À PROPOS";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0;
  z-index: 1;
}

.from-left {
  transform: translateX(-300%);
}

.from-right {
  transform: translateX(110%);
}