@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --white: #f9fafb;
  --black: #01010a;
  --ad-green: #83b47e;
  --ux-ui-blue: #8fb1bd;
  --adobe-purple: #c59fc6;
  --dev-orange: #c8a489;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #01010a;
  background-color: #f9fafb;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

.container {
  margin-bottom: 128px;
}

.container,
header,
footer {
  padding-left: 6.25%;
  padding-right: 6.25%;
}

a {
  text-decoration: none;
  color: var(--black);
  display: block;
  width: fit-content;
}

h2 {
  white-space: nowrap;
  font-size: calc(35px + (80 - 35) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 600;
}

.stroke-head {
  position: relative;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--black);
}

.from-left {
  position: relative;
  top: 0;
  left: -200%;
}

.from-right {
  position: relative;
  left: 110%;
}

/* ************************************HEADER*********************************************** */

header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 16px;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

header.visible {
  mix-blend-mode: normal;
  background-color: var(--white);
  grid-template-rows: auto 1fr;
  row-gap: 22vh;
  z-index: 0;
  animation: aboveAll .4s ease-in-out forwards;
}

@keyframes aboveAll {
  0% {
    z-index: 0;
  }

  40% {
    z-index: 0;
  }

  100% {
    z-index: 100;
  }
}

.logo img {
  height: 40px;
  z-index: 100;
}

header.visible .logo {
  mix-blend-mode: difference;
}

header span {
  z-index: 100;
  width: fit-content;
  justify-self: end;
  color: var(--white);
  cursor: pointer;
}

header.visible span {
  font-weight: 600;
  color: var(--black);
}

.menu {
  display: none;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.menu.visible {
  display: block;
  grid-column: 1/3;
  transform: translateY(0vh);
  animation: fadeUp .4s ease-in-out;
}

@keyframes fadeUp {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);

  }
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 4.2vh;
  margin-bottom: 14vh;
}


.nav a {
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: baseline;
  column-gap: 16px;
}

.social a {
  font-size: 14px;
  font-weight: 600;
}

.menu-arrow {
  height: 37px;
}



/* ************************************HERO*********************************************** */
.hero {
  margin-top: 26.5vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto 1fr;
}

h1 {
  position: relative;
  font-size: calc(35px + (100 - 35) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 600;
  margin-bottom: 26.5vh;
  grid-column: 1/3;
  width: min-content;
}

.designer {
  position: relative;
  z-index: -1;
}

.designer::before {
  content: "DESIGNER";
  position: absolute;
  top: 20%;
  left: 16px;
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--black);
  z-index: -1;
}

.designer::after {
  content: "DESIGNER";
  position: absolute;
  top: 20%;
  left: 16px;
  -webkit-text-fill-color: var(--white);
  z-index: -1;
}

.and {
  position: absolute;
  right: 0;
}

.junior {
  font-size: calc(16px + (40 - 16) * ((100vw - 320px) / (1440 - 320)));
}

.name {
  font-weight: 600;
  margin-bottom: 64px;
  white-space: wrap;
  width: min-content;
}

.hero .arrow {
  justify-self: end;
  align-self: end;
  margin-bottom: 64px;
}

.me {
  width: 280px;
}

/* ************************************ABOUT*********************************************** */
.about .stroke-head::after {
  content: "À PROPOS";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke: 0;
  z-index: 1;
}

.explore,
.passionate {
  margin-bottom: 128px;
}

.about p {
  margin-top: 128px;
  margin-bottom: 32px;
  font-size: 18px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 4px;
  max-width: 488px;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
}

.card img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  max-width: 120px;
  backface-visibility: hidden;
}

.card::after {
  content: "tests";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  border: 1px solid var(--black);
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.bold {
  font-weight: 700;
}

.img-container img {
  width: 100%;
  max-width: 488px;
}

.software-list {
  display: flex;
  justify-content: space-between;
}

.software img {
  height: 40px;
}

.hover-pop:hover img {
  animation: pop 0.4s ease-in-out;
}


@keyframes pop {
  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0.8);
  }

  66% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.blend-difference {
  mix-blend-mode: difference;
}

/* ************************************PROJETS*********************************************** */

.projects {
  padding-top: 128px;
  padding: 128px 0 0 0;
  color: var(--white);
}

.projects {
  background-color: var(--black);
}

.projects a {
  color: var(--white);
}

.white-bg {
  background-color: var(--white);
}

.white-bg,
.white-bg a {
  color: var(--black);
}

.projects .stroke-head {
  -webkit-text-stroke-color: var(--white);
}

.projects .stroke-head::after {
  content: "PROJETS";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: var(--black);
  -webkit-text-stroke: 0;
  z-index: 1;
}

.project {
  padding: 128px 6.25%;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 100%;
  /* grid-template-rows: 28.1% 17.2% 17.2% 28.1%; */
}

.index {
  font-size: 22px;
  margin-bottom: 32px;
}

.project-head {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 58px;
  max-width: 240px;
}

.type-duration {
  margin-bottom: 56px;
}

.skills {
  margin-bottom: 64px;
  font-size: 14px;
}

.hover-bullet-scale {
  position: relative;
  max-width: 280px;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid var(--white);
}

.white-bg .hover-bullet-scale {
  border-bottom: 1px solid var(--black);
}

.hover-bullet-scale::before {
  content: "";
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  transition: all 0.2s ease-in-out;
}

.hover-bullet-scale:hover::before {
  left: 6px;
  width: 12px;
  height: 12px;
}

.hover-bullet-scale.art-direction::before {
  background-color: var(--ad-green);
}

.hover-bullet-scale.development::before {
  background-color: var(--dev-orange);
}

.hover-bullet-scale.adobe::before {
  background-color: var(--adobe-purple);
}

.hover-bullet-scale.ux-ui::before {
  background-color: var(--ux-ui-blue);
}

.mockup {
  margin-bottom: 16px;
}

.layout {
  margin-bottom: 32px;
}

.mockup img,
.layout img {
  width: 100%;
  max-width: 590px;
}

.project-more {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: end;
  row-gap: 32px;
}

.description {
  grid-column: 1/3;
}

.see-site {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid var(--white);
  overflow: hidden;
}

.see-site:hover img {
  animation: arrow-fly .4s ease-in-out;
}

@keyframes arrow-fly {
  0% {
    transform: translate(0%, 0%);
  }

  44% {
    transform: translate(100%, -100%);
  }

  45% {
    transform: translate(-100%, 100%);
  }

  100% {
    transform: translate(0%, 0%);
  }

}

.white-bg .see-site {
  border: 1px solid var(--black);
}

.see-site img {
  height: 14px;
}

.see-more {
  justify-self: end;
}

.see-more img {
  width: 80px;
}

/* ************************************FOOTER*********************************************** */

footer {
  padding-bottom: 12px;
}

.idea {
  margin-bottom: 64px;
  white-space: wrap;
}


.footer-social {
  margin-bottom: 64px;
}

.hover-black-bg {
  border-bottom: 1px solid var(--black);
  position: relative;
  max-width: 305px;
}


.hover-black-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom center;
  z-index: -1;
  background-color: var(--black);
  transition: all .3s ease-in-out;
}

.hover-black-bg:hover::before {
  transform: scaleY(1);
}

.hover-black-bg a {
  padding: 8px 8px;
  font-size: 14px;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.hover-black-bg:hover a {
  color: var(--white);
}

.footer-nav {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 12px;
}


.legal {
  font-weight: 700;
  margin-bottom: 64px;
  font-size: 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

footer h3 {
  font-size: calc(35px + (80 - 35) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  width: min-content;
}

.go-top {
  width: 80px;
}