@media (prefers-color-scheme: dark) {
  body {
    background-color: #01010a;
    color: #f9fafb;
  }

  a {
    color: #f9fafb;
  }

  header {
    background: #01010a;
  }

  header nav li {
    background-color: #01010a;
  }

  nav a p::after {
    border-bottom: 1px solid #f9fafb;
  }

  footer.container {
    border-top: #f9fafb 1px solid;
  }
}

@media screen and (min-width: 600px) {
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 760px) {
  header nav {
    position: relative;
    visibility: visible;
    padding: 0;
    top: 0;
    left: 0;
    width: 50.7vw;
  }
  header nav ul {
    justify-content: space-between;
    display: flex;
  }
  header nav li {
    width: unset;
    padding: 0;
    margin: 0;
  }
  header nav a {
    margin: 0;
  }

  .offbeat1,
  .offbeat2,
  .offbeat3 {
    left: 0;
  }

  .first-nav-link {
    padding: 0;
  }

  header nav img {
    display: none;
  }

  header span {
    display: none;
  }

  .about p {
    margin-left: 34.6%;
    max-width: 691px;
  }

  footer nav ul {
    display: flex;
    justify-content: space-between;
  }

  footer nav a {
    margin: 0;
    width: auto;
  }

  .legal {
    display: flex;
    justify-content: space-between;
  }
  .go-top {
    position: relative;
    right: 0;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding-left: 15.4%;
  }

  header.container,
  footer.container {
    padding-left: 6.25%;
  }

  h1 {
    margin-top: 345px;
  }

  p {
    font-size: 18px;
  }

  .hero {
    margin-bottom: 256px;
  }

  .projects article {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 42px;
    grid-template-rows: auto auto auto;
    max-width: unset;
    grid-template-areas:
      "vi he"
      "vi bo"
      "vi ar";
  }

  .projects h3 {
    grid-area: he;
  }

  .video-container {
    grid-area: vi;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .projects p {
    grid-area: bo;
  }

  .projects .arrow {
    display: block;
    grid-area: ar;
    justify-self: end;
    align-self: end;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  p {
    font-size: 18px;
  }
}
