/* Import Fonts */

/* Zodiak */
@font-face {
  font-family: "Zodiak";
  src:
    url("/fonts/Zodiak/Zodiak-Variable.woff2") format("woff2"),
    url("/fonts/Zodiak/Zodiak-Variable.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("/fonts/Zodiak/Zodiak-VariableItalic.woff2") format("woff2"),
    url("/fonts/Zodiak/Zodiak-VariableItalic.woff") format("woff");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

/* Switzer */
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer/Switzer-VariableItalic.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
