/* Css variables */
:root {
  --white: #f9fafb;
  --black: #01010a;
  --bg-color: #f9fafb;
  --text-color: #01010a;
  --ad-green: #83b47e;
  --ux-ui-blue: #8fb1bd;
  --adobe-purple: #c59fc6;
  --dev-orange: #c8a489;
}

/* Global elements */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: fit-content;
  cursor: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  width: 100%;
  transition: all 0.8s ease-in-out;
}

button {
  border: none;
  font-size: 16px;
  background: transparent;
}

.border {
  border: 1px solid var(--text-color);
}

.border-bottom {
  border-bottom: 1px solid var(--text-color);
}

.border-top {
  border-top: 1px solid var(--text-color);
}

.rotate--45 {
  transform: rotate(-45deg);
}

.rotate--135 {
  transform: rotate(-135deg);
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.mix-blend-norm {
  mix-blend-mode: normal;
}

.mix-blend-diff {
  mix-blend-mode: difference;
}

/* Global CSS animations */

.hover-underline {
  position: relative;
  width: fit-content;
  overflow: hidden;
  display: block;
  padding: 4px 0;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0px;
  background-color: var(--text-color);
  transform-origin: right center;
  transform: scaleX(0);
  will-change: transform, transform-origin;
  transition: transform 0.8s ease-in-out;
}

.white-underline::after {
  background-color: var(--white);
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}

.underline-hover-left-right {
  position: relative;
  width: fit-content;
  overflow: hidden;
  display: block;
  padding: 4px 0;
}

.underline-hover-left-right::before,
.underline-hover-left-right::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  right: 0;
  bottom: 0px;
  background-color: var(--text-color);
  transform-origin: right;
  will-change: transform;
}

.black.underline-hover-left-right::before,
.black.underline-hover-left-right::after {
  background-color: var(--white);
}

.stable.underline-hover-left-right::before,
.stable.underline-hover-left-right::after {
  background-color: var(--black);
}

.underline-hover-left-right::after {
  transform: scaleX(0%) translateX(-128px);
  transform-origin: left;
}

.underline-hover-left-right:hover::before {
  animation: doubleUndelineTranslate1 1.4s ease-in-out;
}

.underline-hover-left-right:hover::after {
  animation: doubleUndelineTranslate2 1.4s ease-in-out;
}

.infinite.underline-hover-left-right::before {
  animation: doubleUndelineTranslate1 1.8s ease-in-out infinite;
}

.infinite.underline-hover-left-right::after {
  animation: doubleUndelineTranslate2 1.8s ease-in-out infinite;
}

@keyframes doubleUndelineTranslate1 {
  0% {
    transform: scaleX(100%) translateX(0px);
  }

  100% {
    transform: scaleX(0%) translateX(128px);
  }
}

@keyframes doubleUndelineTranslate2 {
  0% {
    transform: scaleX(0%) translateX(-128px);
  }

  100% {
    transform: scaleX(100%) translateX(0);
  }
}

/* Containers & displays */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.margin-container {
  margin: 0 6.25%;
}

.padding-container {
  padding-left: 6.25dvw;
  padding-right: 6.25dvw;
}

@media screen and (min-width: 960px) {
  .margin-container {
    margin: 0 60px;
  }

  .padding-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.grid {
  display: grid;
}

.g-t-c-12 {
  grid-template-columns: repeat(12, 1fr);
}

.flex {
  display: flex;
}

.f-d-c {
  flex-direction: column;
}

.f-d-r {
  flex-direction: row;
}

.f-d-c-sm-f-d-r {
  flex-direction: column;
}

@media screen and (min-width: 940px) {
  .f-d-c-sm-f-d-r {
    flex-direction: row;
  }
}

.sb {
  justify-content: space-between;
}

.js-c {
  justify-self: center;
}

.js-e {
  justify-self: flex-end;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.aife-sm-ais {
  align-items: start;
}

@media screen and (min-width: 940px) {
  .aife-sm-ais {
    align-items: flex-end;
  }
}

.asc {
  align-self: center;
}

.ase {
  align-self: flex-end;
}

.display-none {
  display: none;
}

.bg-white {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.bg-white .black {
  color: var(--text-color);
}

.white {
  color: var(--bg-color);
}

.black {
  color: var(--text-color);
}

.stable-white {
  color: var(--white);
}

/* Fonts */
.italic {
  font-style: italic;
}

.font-family-zodiak {
  font-family: "Zodiak", serif;
}

/* .h1 {
  font-size: calc(43px + (100 - 43) * ((100vw - 320px) / (1440 - 320)));
  width: min-content;
  position: relative;
  width: min-content;
  display: flex;
  justify-content: space-between;
} */

.w-min-c {
  width: min-content;
}

@media screen and (min-width: 540px) {
  .space {
    right: -32px;
  }
}

.me {
  font-weight: 300;
  font-size: calc(18px + (26 - 18) * ((100vw - 320px) / (1440 - 320)));
  display: block;
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 42px;
}

.me.name {
  font-size: 26px;
  width: min-content;
  line-height: 96px;
}

.h2 {
  font-size: calc(35px + (80 - 35) * ((100vw - 320px) / (1440 - 320)));
}

.h3 {
  font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1440 - 320)));
}

.h4 {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1440 - 320)));
}

.h5 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
  line-height: 28.8px;
}

.body {
  font-size: 14px;
  line-height: 19.6px;
}

.meta {
  font-size: 12px;
  line-height: 16.8px;
}

@media screen and (min-width: 960px) {
  .body {
    font-size: 16px;
    line-height: 22.4px;
  }

  .meta {
    font-size: 16px;
    line-height: 19.6px;
  }
}

.nav-link {
  font-size: 18px;
}

.index {
  font-size: 26px;
}

.quote {
  font-size: calc(16px + (26 - 16) * ((100vw - 320px) / (1440 - 320)));
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.actual-lang {
  color: var(--black);
}

.actual-lang-container {
  position: relative;
}

.actual-lang-container::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--white);
  z-index: -1;
  will-change: transform;
  transform: translateX(0);
  transition: 0.4s ease-in-out;
}

.actual-lang-container.lang-2::before {
  transform: translateX(100%);
}

/* Margin */

.m-t-128 {
  margin-top: 128px;
}

.m-t-128-256 {
  margin-top: 128px;
}

.m-t-256 {
  margin-top: 256px;
}

.m-t-256-512 {
  margin-top: 256px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-32 {
  margin-bottom: 32px;
}

.m-b-48 {
  margin-bottom: 48px;
}

.m-b-256-512 {
  margin-bottom: 256px;
}

@media screen and (min-width: 960px) {
  .m-t-128-256 {
    margin-top: 256px;
  }

  .m-t-256-512 {
    margin-top: 512px;
  }

  .m-b-256-512 {
    margin-bottom: 512px;
  }

  .ls-m-l-32 {
    margin-left: 32px;
  }
}

.m-p--10 {
  margin: -10px;
  padding: 10px;
}

/* Padding */
.p-t-256 {
  padding-top: 256px;
}

.p-t-b-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-t-b-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-b-16 {
  padding-bottom: 16px;
}

.p-b-32 {
  padding-bottom: 32px;
}

.p-4-8 {
  padding: 4px 8px;
}

.p-t-b-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.p-8-16 {
  padding: 8px 16px;
}

.p-12-24 {
  padding: 12px 24px;
}

/* Grid column placement */
.gc-1 {
  grid-column: 1;
}

.gc-f-1-6 {
  grid-column: 1/13;
}

.gc-1-5 {
  grid-column: 1/5;
}

.gc-1-9 {
  grid-column: 1/9;
}

.gc-2-8 {
  grid-column: 2/8;
}

.gc-2-9 {
  grid-column: 2/9;
}

.gc-f-2-13 {
  grid-column: 1/13;
}

.gc-f-3-11 {
  grid-column: 1/13;
}

.gc-f-6-10 {
  grid-column: 1/13;
}

.gc-f-6-13 {
  grid-column: 1/13;
}

.gc-7 {
  grid-column: 7;
}

.gc-7-12 {
  grid-column: 7/12;
}

.gc-f-7-11 {
  grid-column: 1/13;
}

.gc-f-7-13 {
  grid-column: 1/13;
}

.gc-f-1-7 {
  grid-column: 1/13;
}

.gc-f-1-8 {
  grid-column: 1/13;
}

.gc-f-8-13 {
  grid-column: 1/13;
}

.gc-f-9-13 {
  grid-column: 1/13;
}

.gc-1-13 {
  grid-column: 1/13;
}

.gc-13 {
  grid-column: 13;
}

@media screen and (min-width: 540px) {
  .gc-f-1-7 {
    grid-column: 1/7;
  }
}

@media screen and (min-width: 1220px) {
  .gc-f-3-11.large {
    grid-column: 3/11;
  }
}

@media screen and (min-width: 960px) {
  .gc-f-1-6 {
    grid-column: 1/6;
  }

  .gc-f-2-13 {
    grid-column: 2/13;
  }

  .gc-f-3-11:not(.large) {
    grid-column: 3/11;
  }

  .gc-f-6-10 {
    grid-column: 6/10;
  }

  .gc-f-6-13 {
    grid-column: 6/13;
  }

  .gc-f-7-11 {
    grid-column: 7/11;
  }

  .gc-f-7-13 {
    grid-column: 7/13;
  }

  .gc-f-1-8 {
    grid-column: 1/8;
  }

  .gc-f-8-13 {
    grid-column: 8/13;
  }

  .gc-f-9-13 {
    grid-column: 9/13;
  }

  /* Grid row */
  .ls-gr-1 {
    grid-row: 1;
  }
}

/* Column gap */
.col-g-8 {
  column-gap: 8px;
}

.col-g-16 {
  column-gap: 16px;
}

.col-g-32 {
  column-gap: 32px;
}

.col-g-32-16 {
  column-gap: 16px;
}

@media screen and (min-width: 960px) {
  .col-g-32-16 {
    column-gap: 32px;
  }
}

.col-g-64 {
  column-gap: 64px;
}

/* Row gap */
.r-g-8 {
  row-gap: 8px;
}

.r-g-16 {
  row-gap: 16px;
}

.r-g-32,
.r-g-32-64 {
  row-gap: 32px;
}

.r-g-48 {
  row-gap: 48px;
}

.r-g-64 {
  row-gap: 64px;
}

.r-g-128 {
  row-gap: 128px;
}

.r-g-192 {
  row-gap: 192px;
}

.r-g-128-192 {
  row-gap: 128px;
}

.r-g-128-256 {
  row-gap: 128px;
}

.r-g-256-512 {
  row-gap: 256px;
}

@media screen and (min-width: 540px) {
  .r-g-32-64 {
    row-gap: 64px;
  }
}

@media screen and (min-width: 960px) {
  .r-g-256-512 {
    row-gap: 512px;
  }

  .r-g-128-256 {
    row-gap: 256px;
  }

  .r-g-128-192 {
    row-gap: 192px;
  }
}

.ws-no-w {
  white-space: nowrap;
}

/* Img-container */

.img-container,
.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img,
video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

video {
  object-fit: contain;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}
