.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--white);
  pointer-events: none;
  z-index: 1000;
  will-change: transform;
}

.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--white);
  background-color: transparent;
  pointer-events: none;
  z-index: 1000;
  will-change: transform;
}
