.open {
  max-height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.open[data-index] {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.jic {
  justify-items: center;
}

@media screen and (max-width: 540px) {
  .sm-dn {
    display: none;
  }
}

.w-100 {
  width: 100%;
}

.rafter {
  will-change: transform;
  transition: 1s ease-in-out;
  padding: 10px;
}

.rafter-open {
  transform: rotate(-180deg);
}